<h1>Add yourself to the database</h1>
<%= form_for @person do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :age %>
  <%= f.text_field :age %>

  <%= f.label :hair_color %>
  <%= f.text_field  :hair_color  %>

  <%= f.label :eye_color %>
  <%= f.text_field  :eye_color  %>
   <%= f.label :gender %>
  <%= f.text_field  :gender  %>
   <%= f.label :alive %>
  <%= f.check_box :alive  %>

  <%= f.submit %>
  <% end %>
